<div id="git-widget"></div>

<%= content_for :head do %>
  <%= GoogleIdentityToolkit::Script.widget('#git-widget',
    widgetUrl: google_identity_toolkit_url,
    signInSuccessUrl: connect_google_identity_toolkit_path,
    idps: [:googleplus, :yahoo],
    loginFirst: true
  ) %>
<% end %>