<%
  ac_action = {
    storeAccount: {
      email: current_account.email,
      displayName: current_account.name,
      photoUrl: current_account.photo,
      providerId: current_provider.try(:issuer)
    }.delete_if { |k,v| v.blank? }
  }
%>

<h3>Logged-in</h3>
<pre><%= JSON.pretty_generate ac_action %></pre>
<%= content_for :head do %>
  <%= AccountChooser::Script.load ac_action %>
<% end %>